*{
    margin: 0px;
    padding: 0px;

}
body{
    background: url(../img/fondo2.jpg);
}
.tp{
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 15px;
}
.html{
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 15px; 
    ;
}
h1{
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 15px; 
}
h2{
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 15px;
}
h3{
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 15px;

}

